.App {
  text-align: center;
}

.Main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul,
ol {
  list-style: none;
}

header,
ul {
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
}

header ul {
  width: 50%;
}
