/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,500&family=Dancing+Script:wght@500;700&display=swap");
body {
  margin: 0;
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Cormorant Garamond", serif;
}

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

.Main,
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  color: var(--secondary);
  width: 100%;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 20pt;
  color: var(--primary);
}

ul,
ol {
  list-style: none;
}

header,
ul {
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
}

header ul {
  width: 50%;
}
.addingForm label input {
  height: 0;
  width: 0;
  opacity: 0;
  display: none;
}
.addingForm label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.addingForm label:hover {
  background: var(--primary);
  color: white;
}
.progress_bar {
  height: 10px;
  border: solid 1px var(--primary);
  width: 80%;
}
.progress_bar div {
  background-color: var(--primary);
  height: 100%;
}
.image_grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 80%;
}
.image_wrap {
  overflow: hidden;
  padding: 0;
  /* padding controls height, will always be perfectly square regardless of width */
  /* position: relative; */
  opacity: 0.8;
}
.image_wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.upperCheckout {
  background-color: white;
  padding: 10px 20px 20px;
  border-radius: 12px;
  width: 50%;
  min-height: 300px;
}
.upperCheckout div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 60px;
}
.auth form,
.auth label {
  width: 100%;
}
.auth input {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  border-bottom: solid 2px var(--primary);
}
button {
  background: var(--primary);
  width: 46%;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.active {
  background: sienna;
  color: white;
}
